In [ ]:
import sqlite3

In [ ]:
#criando o banco de dados de funcionarios da empresa
conn=sqlite3.connect("funcionarios.db")

In [ ]:
cursor=conn.cursor()

In [ ]:
#criando tabela "dados_cadastrais"
cursor.execute("CREATE TABLE dados_cadastrais (id integer, nome text, sobrenome text, data_nasci integer, cpf integer, endereco integer )")

In [ ]:
#criando tabela "dados_profissionais"
cursor.execute ("CREATE TABLE dados_profissionais (id integer, graduacao text, cargo text, salario real, tempo_casa integer)")

In [ ]:
# Inserir dados na tabela dados_cadastrais

cursor.execute ("INSERT INTO dados_cadastrais VALUES(1, 'maria', 'silva', 0, 11111211313, 'rua 1 - SP')")
cursor.execute ("INSERT INTO dados_cadastrais VALUES(2, 'joao', 'silva', 0, 11111211889, 'rua 2 - SP')")
cursor.execute ("INSERT INTO dados_cadastrais VALUES(3, 'pedro', 'pereira', 0, 11111211786, 'rua 8 - SP')")
cursor.execute ("INSERT INTO dados_cadastrais VALUES(4, 'paulo', 'ribeiro', 0, 11111211123, 'rua 9 - SP')")

conn.commit()

In [ ]:
# Inserir dados na tabela dados_profissionais

cursor.execute ("INSERT INTO dados_profissionais VALUES(1, 'matematica','professor',3500.89,3)")
cursor.execute ("INSERT INTO dados_profissionais VALUES(2, 'geografia', 'orientador', 2850.8, 1)")
cursor.execute ("INSERT INTO dados_profissionais VALUES(3, 'historia', 'orientador', 3200.45, 1)")
cursor.execute ("INSERT INTO dados_profissionais VALUES(4, 'fisica', 'professor', 1890.33, 2)")

conn.commit()

In [ ]:
# listar todos os registros da tabela dados_profissionais ordenados por tempo de casa, decrescente

cursor.execute ("SELECT * FROM dados_profissionais ORDER BY tempo_casa DESC")
cursor.fetchall()

In [ ]:
# contar a quantidade de funcionários da empresa

cursor.execute ("SELECT COUNT(id) FROM dados_cadastrais")
cursor.fetchall()

In [ ]:
# listar funcionários com sobrenome "silva" ordenados por nome completo

cursor.execute ("SELECT nome, sobrenome FROM dados_cadastrais WHERE sobrenome=='silva' ORDER BY nome, sobrenome")
cursor.fetchall()

In [ ]:
# listar folha de pagamento por cargo

cursor.execute ("SELECT cargo, SUM(salario) FROM dados_profissionais GROUP BY cargo")
cursor.fetchall()